In [44]:
import pandas as pd
import scipy
from sklearn.preprocessing import MinMaxScaler
import numpy
file = pd.read_csv('DataSet/people.csv')
file

   Age ageGroup  height   status  yearsMarried
0   21    adult     6.0   single            -1
1    2    child     3.0  married             0
2   18    adult     5.7  married            20
3  221  elderly     5.0  widowed             2
4   34    child    -7.0  married             3

In [45]:
file.values[1]

array([2, 'child', 3.0, 'married', 0], dtype=object)

In [46]:
def rule1(values): #To check the transactions for rules
    if values[0]>0 and values[0]<120:
        return True
    else:
        return False

#if=[lambda x:True if int[x[0]]>0 and int[x[0]<120] else False]

In [47]:
rule1(file.values[2])

True

In [48]:
def rule2(values):
    if values[0]>values[4]:
        return True
    else:
        return False

In [49]:
rule2(file.values[2])

False

In [50]:
def rule3(values):
    if values[3] is "married"or "single"or "widowed":
        return True
    else:
        return False

In [51]:
rule3(file.values[2])

True

In [52]:
def rule4(values):
    if values[0]<18:
        if values[1] is "child":
            return True
    if values[0]>18 and values[0]<65:
        if values[1] is "adult":
            return True
    if values[0]>65:
        if values[1] is "elderly":
            return True
    else:
        return False

In [53]:
rule4(file.values[2])

False

In [56]:
for i in range (file.values[0].size):
    print(rule1(file.values[i]))
    print(rule2(file.values[i]))
    print(rule3(file.values[i]))
    print(rule4(file.values[i]))

True
True
True
False
True
True
True
False
True
False
True
False
False
True
True
None
True
True
True
False

In [42]:
file.values[0].size

5

In [39]:
a

(5, 5)